:root {
  /* App's Colors */
  --color-light-text: #D5C49C;
  --color-theme-light: #D5C49C;
  --color-theme-dark: #290809;
  --color-buttons: #D04A2E;
  --block-border-radius: 10px;
  --btn-border-radius: 5px;
}


/**  Navbar Styling  **/

.navbar {
  background-color: var(--color-theme-light);
  color: var(--color-light-text);
}

.navbar-brand,
.nav-link {
  color: var(--color-theme-dark);
}

.navbar img {
  height: 45px;
  margin-right: 1rem;
  border-radius: var(--block-border-radius);
}

.spacer {
  height: 5rem;
}

/* Body Styling */

body {
  margin: 0;
  background-color: var(--color-theme-light);
}

.hero-interaction {
  background-color: var(--color-theme-dark);
  color: var(--color-light-text);
}

.hero-interaction .btn {
  margin: 2rem;
}

.btn {
  background-color: var(--color-buttons);
  color: var(--color-theme-light);
  border: none;
  border-radius: var(--btn-border-radius);
  font-weight: bold;
}

/* Footer Styling */

footer {
  background-color: var(--color-theme-light);
  color: var(--color-theme-dark);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer-panels {
  background-color: var(--color-theme-dark);
  color: var(--color-theme-light);
}
