:root {
  /* App's Colors */
  --color-light-text: #D5C49C;
  --color-theme-light: #D5C49C;
  --color-theme-dark: #290809;
  --color-buttons: #D04A2E;
  --block-border-radius: 10px;
  --btn-border-radius: 5px;
  --img-border-radius: 10px
}


/**  Navbar Styling  **/

.navbar {
  background-color: var(--color-theme-light);
  color: var(--color-light-text);
  border-bottom: solid 3px rgba(0, 0, 0, 0.2);
}

.navbar-brand,
.nav-link {
  color: var(--color-theme-dark);
}

.navbar img {
  height: 45px;
  margin-right: 1rem;
  border-radius: var(--block-border-radius);
}

.dropdown-menu {
  background-color: #f2deaf;
  ;
}

.spacer {
  height: 5rem;
}

body {
  margin: 0;
  background-color: var(--color-theme-light);
}

.hero-interaction {
  background-color: var(--color-theme-dark);
  color: var(--color-light-text);
}

.hero-interaction-light {
  background-color: var(--color-theme-light);
  color: var(--color-dark-text);
}

.hero-interaction .btn {
  margin: 2rem;
}

img,
.round {
  border-radius: var(--img-border-radius);
}

.card,
.card-body {
  border-radius: 3%;
}


.btn {
  background-color: var(--color-buttons);
  color: var(--color-theme-light);
  border: none;
  border-radius: var(--btn-border-radius);
  font-weight: bold;
}

.dark-text {
  color: var(--color-theme-dark)
}

.vendor_link {
  text-decoration: none;
  color: var(--color-light-text);

}

/* Footer Styling */

footer {
  background-color: var(--color-theme-light);
  color: var(--color-theme-dark);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer-panels {
  background-color: var(--color-theme-dark);
  color: var(--color-theme-light);
}
